/* Делаю пока все во одном файле, позже по необходимости могу разделить на общий и постраничные файлы css */

/* текст цвет основной #757575 */
/* текст цвет заголовков #212121 */
/* текст цвет акцент #2196F3 */
/* текст цвет белый #FFFFFF*/
/* фон основной белый #FFFFFF */
/* фон серый  #F5F4FA */
/* фон акцент #2196F3 */
/* фон секции шапка, подвал #2F303A */
/* цвета логотипа #000000  #2196F3 #FFFFFF */

:root {
  --text-main: #757575;
  --text-header: #212121;
  --text-accent: #2196f3;
  --text-white: #ffffff;
  --bgd-primary: #ffffff;
  --bgd-second: #f5f4fa;
  --bgd-accent: #2196f3;
  --bgd-header-footer: #2f303a;
}
/*Пока отдельно указала белый цвет  для фона и для текста, может позже объеденю в одну переменную  */

.page-studio,
.page-portfolio {
  color: var(--text-main);
  background-color: var(--text-main);
}
.body {
  background-color: yellow;
}
